<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasonko.movietime" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            >
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TheatersOfAreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" >
        </activity>
        <activity
            android:name=".MovieActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".CreditCardActivity"
            android:label="信用卡優惠"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".TicketActivity"
            android:label="訂票"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".BloggerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".WebViewArticleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".WebTheaterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name=".MovieRankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".TheaterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" >
        </activity>
        <activity
            android:name=".MoviePhotosActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            />
        <activity
            android:name=".TrailersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".SearchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".FollowMovieActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".FavoriteMovieActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".FavoriteTheaterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".WriteCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".MessageBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".WriteMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".MessageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />

        <activity
            android:name=".WriteReplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />

        <service
            android:name=".services.FollowMovieService"
            android:exported="false" />

        <!--<receiver-->
            <!--android:name=".services.MovieBootReceiver"-->
            <!--android:enabled="true" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver
            android:name=".services.FollowMovieReceiver"
            android:enabled="true" >
        </receiver>

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />


    </application>

</manifest>
