<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasonko.movietime" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TheatersActivity"
            android:label="全台戲院" />
        <activity
            android:name=".TheatersOfArea"
            android:label="@string/title_activity_theaters_of_area" >
        </activity>


        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"/>

        <activity
            android:name=".MovieActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".CreditCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />

        <activity
            android:name=".TicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />

        <activity android:name=".NewsArticleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />

        <activity android:name=".MovieRankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />

        <activity android:name=".MovieListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />

        <activity android:name=".RecommendColumnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />

        <activity android:name=".RecommendColumnVideosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />

        <activity android:name=".MoviePhotosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />

        <activity android:name=".TrailersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />


    </application>

</manifest>
